body {	
	font-family: Verdana;
	font-size:12px;
}

#divLabels 
{
	padding-top: 5px;
	position:absolute;
	width: 200px;		
	font-family: Verdana;
	font-size:12px;
}

#divLabels div
{
	height: 20px;
}

#divComponentes
{
	position:relative;	
	top: 0px;
	left: 200px;	
	font-family: Verdana;
	font-size:12px;
	width:500px;
}


input, option, button
{
	border: solid 1px black;	
	font-family: Verdana;
	font-size:12px;
}

h1
{	
	font-family: Verdana;
	font-size:25px;
}

a, a:hover, a:visited
{	
	color: Blue;
	text-decoration:none;
	font-family: Verdana;
	font-size:12px;
}

a:hover
{
	text-decoration: underline;
}
